{% extends 'base.html' %}
{% block title %} FlipKart|myproducts{% endblock %}

{% block body %}
<div class="containe">
    <div class="row">
        <h2><a href="/ProductRegister">ragister new product</a></h2>
        <br>
        <table class="table table-border">
            <thead>
                <th>sr.no</th>
                <th>ProductID</th>
                <th>ProductName</th>
                <th>Category</th>
                <th>Description</th>
                <th>Image</th>
                <th>Updated</th>
                <th>Remove</th>
            </thead>
        </table>
        {% for x in object_list %}
        <tr>
        <td>{{forloop.counter}}</td>
        <td>{{x.productid}}</td>
        <td>{{x.productname}}</td>
        <td>{{x.category}}</td>
        <td>{{x.description}}</td>
        <td>{{x.price}}</td>
        <td>
            <img src="/media/{{x.images}}" alt="{{xproductname}}" width="100px" height="200px">
        </td>
    </tr>
        {% endfor %}
    </div>
</div>

{% endblock %}