{% extends 'base.html' %} {% load static %}
<title>{% block title %}FlipKart|Index{% endblock %}</title>
<body>
  {% block body %} 
    <div class="container-fluid">
      <div class="row">
        <!--catgory search start here-->
        <div class="col-2">
          <h1>catogory search</h1>
          <div>
          <h5>search by catogy</h5>
          <hr>
          <a href="#">by mobile</a><br>
          <a href="#">by electronic</a><br>
          <a href="#">by cloths</a><br>
          <a href="#">by shoes</a><br>
          </div>
          <div>
            <h5>search by price range</h5>
            <hr>
          <form method="post" action="#">
            <input type="number" placeholder="min price" name="min"><br><br>
            <input type="number" placeholder="max price" name="max"><br><br>
            <input type="submit" value="submit">
          </from>
          </div>
          <div class="mt-3">
            <h5>sort by price</h5>
            <hr>
            <a href="#">low to high</a><br>
            <a href="#">high to low</a><br>
          </div>

      </div>
      <div class="col-10">
        <!--carsouel start here-->
        <div class="'container">
          <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="1000">
                <img src="{% static 'images/banner1.png'%}" class="d-block w-100" alt="..." width="200px" height="200px">
              </div>
              <div class="carousel-item" data-bs-interval="1000">
                <img src="{% static 'images/banner2.png'%}" class="d-block w-100" alt="..." width="200px" height="200px">
              </div>
              <div class="carousel-item" data-bs-interval="1000">
                <img src="{% static 'images/banner3.png'%}" class="d-block w-100" alt="..." width="200px" height="200px">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>


        </div>


        <!--carsolue end here-->

        <!--cards start here-->
        <div class="container mt-3">
          <div class="row">
            {% for x in allproducts %}

            <div class="col-md-4">
              <div class="card" style="width: 18rem;">
                <img src="{{x.images.url}}" class="card-img-top" alt="{{x.productname}}" style="width:286px; height:250px;">
                <div class="card-body">
                  <h5 class="card-title">{{x.productname}}</h5>
                  <p class="card-text">{{x.description}}</p>
                  <a href="#" class="btn btn-primary">add to cart</a>
                  <a href="#" class="btn btn-primary">buy now</a>
                </div>
              </div>

            </div>
            {% endfor %}




          </div>
        </div>
        <!--cards end here-->title
      </div>

      </div>
    </div>
    
    
    
    
    
    
    
    
  {% endblock %}
</body>
