{% extends 'base.html' %}
{% block title %} FlipKart|Select Address{% endblock %}
{% block body %}

<div class="container">
    <div class="row">
        <h1 class="text-center">Select address for payment</h1>
        <form method="post">
            {% csrf_token %}
            <div class="list-group">
                {% for x in address %}
                <div class="list-group-item">
                    <input type="radio" id="x_{{x.id}}">
                    <label for="x_{{x.id}}">
                        <strong>Mobile:</strong>{{x.mobile}}<br>
                        <strong>Address:</strong>{{x.address}}<br>
                        <strong>Pincode:</strong>{{x.pincode}}<br>

                    </label>
                </div>

                {% empty %}
                <div class="alert alert-warning">
                    No save address found !
                </div>
                {% endfor %}
            </div>
        </form>

        <a href="/payment"><input type="submit" class="btn btn-primary" value="proceed to payment"></a>
        <a href="/addadress"> <input type="button" class="btn btn-primary" value="cancel"></a>
    </div>
</div>


{% endblock %}